body {
	height: 100%;
	margin: 0;
	width: 100%;
	background-color: #444444;
}

h1 {
  text-align: center;
  font-family: Palatino, serif;
  color: grey;
  font-size: 2rem;
  padding: 100px;
  margin: 10px;
  background-color: #111111;
}

.menu {
	width: 300px;
	background-color: grey;
}

.menu li {
	display: inline;
	padding: 20px;
}

.gallary {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gallary li {
	border: 10px solid white;
}

.fullscreenblock {
	background: #666666;
	width: 100%;
	height: 100vh;
}
